.main-header {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: block;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

.main-header > ul {
  margin: 0 auto;
}

.main-tab {
  width: 12.5%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transition: opacity 0.1s ease-in 0s;
}

.active {
  opacity: 1;
}

.main-tab img {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 10px;
}

.main-tab p {
  display: block;
  color: #000000;
  font-size: 11px;
  margin-top: 2px;
}

.actions {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.run-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #319831;
  color: #d9e2f1;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.run-button:hover,
.run-button:focus {
  background-color: #319890;
}

.run-button:disabled,
.run-button:hover:disabled,
.run-button:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}

.details-flat {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #1a1d1d;
  color: #ddd6cb;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: transparent;
}

.details-flat:hover,
.details-flat:focus {
  background-color: transparent;
  color: #ffc905;
}

@media screen and (min-width: 500px) {
  .main-tab p {
    font-size: 11px;
  }

  .run-button {
    font-size: 1.2rem;
  }

  .details-flat {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .main-tab p {
    font-size: 15px;
  }
  .run-button {
    font-size: 1.5rem;
  }

  .details-flat {
    font-size: 1.5rem;
  }
}
